div.pallete-container {
    position: relative;
    div.color-pallete-modal {
        background-color: white;

        width: 100%;
        position: absolute;
        z-index: 1;

        div.color-category-container {
            div.color-category {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                box-shadow: inset 0px 0px 0px 1px #1018282e;
                display: inline-block;
                margin: 2px;
            }
            
            .white {
                background-color: #FFFFFF;
            }
            .red {
                background-color: #DA2C2C;
            }
            .brown {
                background-color: #B8864A;
            }
            .yellow {
                background-color: #F3E33F;
            }
            .green {
                background-color: #A7D550;
            }
            .blue {
                background-color: #5F95F5;
            }
            .purple {
                background-color: #B577E9;
            }
            .rare {
                background: linear-gradient(to top right, #4CC9FF 9%, #B1FF96 39%, #F2FAA7 52%, #FFADF7 85%);
            }
            .selected {
                outline: 2px solid #0E9384;
            }
        }
    }
}