div.item-information {
  position: relative;
  width: 400px;
  flex-shrink: 0;
  padding: 2rem 26px 3rem 26px;
  min-height: 388px;
  margin: 0 auto;

  .item-information-header {
    display: flex;
    justify-content: space-between;

    span {
      font-weight: bold;
      font-size: 1.5rem;
      letter-spacing: -0.42px;
      color: #4a5578;
    }

    button {
      font-size: 1.4rem;
      color: #7d89b0;
      border: 0;
      background-color: #e3e9fc;
      cursor: pointer;
    }
    button::before {
      content: "";
      display: inline-block;
      background-image: url("../../public/img/refresh.svg");
      width: 1.5rem;
      height: 1.5rem;
      background-size: cover;
      background-position: center;
      vertical-align: middle;
      margin-right: 1px;
    }
  }

  hr {
    margin: 2rem 0;
    border: 1px #7d89b0 solid;
  }

  .item-slot-container {
    .item-slot-row {
      display: flex;
      justify-content: space-between;

      .item-slot {
        flex-grow: 0;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 20%;
        min-width: 74px;

        cursor: pointer;

        span {
          text-align: left;
          font-size: 1.3rem;
          color: #5d6b98;
          margin-bottom: 10px;
          letter-spacing: -0.39px;
        }
        img {
          width: 100%;
          cursor: pointer;
          -webkit-user-drag: none;
          -khtml-user-drag: none;
          -moz-user-drag: none;
          -o-user-drag: none;
          user-select: none;
        }
      }
    }
  }
  .image-download {
    background-color: #f6fefc;

    position: absolute;
    left: 26px;
    bottom: 0;
    cursor: pointer;

    width: 348px;
    height: 5rem;
    border: 1px #107569 solid;
    border-radius: 8px;
    padding: 11px 0;

    font-weight: bold;
    color: #344054;
    font-size: 1.6rem;
    font-family: inherit;
  }
  .image-download::before {
    content: "";
    display: inline-block;
    background-image: url("../../public/img/download.svg");
    width: 1.6rem;
    height: 1.6rem;
    background-size: cover;
    background-position: center;
    vertical-align: middle;
    margin-right: 10px;
  }

  .image-download.inactive {
    border: 1px #d0d5dd solid;
    background-color: transparent;

    color: #98a2b3;
  }
  .image-download.inactive::before {
    background-image: url("../../public/img/download_inactive.svg");
  }
}

@media (min-width: 1216px) {
  div.item-information {
    width: 444px;
    padding: 0 5rem;
    padding-bottom: 2rem;

    .item-information-header {
      span {
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: -0.48px;
        color: #4a5578;
      }

      button {
        background-color: #e3e9fc;
        letter-spacing: -0.42px;
        font-weight: 500;
      }
    }

    .item-slot-container {
      .item-slot-row {
        .item-slot {
          img {
            width: 72px;
          }
        }
      }
    }
    .image-download {
      box-sizing: border-box;
      background-color: #f6fefc;

      font-weight: bold;
      color: #344054;
      font-size: 1.6rem;
      font-family: inherit;

      left: 50px;
    }
  }
}
