div.modal-background {
  background-color: rgba(69, 69, 69, 0.33);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.modal-wrap {
  position: absolute;
  z-index: 3333;
  background-color: #e7f3fc;
  border-radius: 20px;
  padding: 42px 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.modal-title-wrap {
  display: flex;
  padding: 6px 19px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #15b79e;
  margin-bottom: 20px;
}

h2.modal-title {
  color: #15b79e;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
}

div.scripts-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

p.modal-script {
  color: var(--Gray-cool-600, var(--Colors-Gray-cool-600, #4a5578));
  text-align: center;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 163.158% */
  letter-spacing: -0.57px;
}

div.button-wrap {
  display: flex;
  padding: 10px 29px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 60px;
  background: var(--Colors-Teal-500, #15b79e);
  margin-top: 32px;
  margin-bottom: 9px;
}

button.modal-button {
  background: var(--Colors-Teal-500, #15b79e);
  color: white;
  border: none;
  color: #fff;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.66px;
}

p.modal-count {
  color: var(--Gray-cool-700, var(--Colors-Gray-cool-700, #404968));
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.45px;
}
