div.canvas-container {
    width: 100%;
}
canvas.user-canvas {
    width: 100%;
}
input.user-canvas-input {
    display: none;
}

@media (min-width: 1216px) {
    div.canvas-container {
        height: 70vh;
    }
    canvas.user-canvas {
        width: auto;
        height: 70vh;
    }
}